*.iml
/.gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/release
/app/enurse
/app/essist
/app/.cxx
*.class
*.jar
.cxx
*.lock
*.bin
